<div *ngFor="let toast of toastService.toasts()" class="toast show" role="alert" [class]="toast.classname"
  [attr.data-bs-delay]="toast.delay">

  <div class="toast-header" [class]="toast.classname">
    <i class="{{ toast.icon }} me-2"></i>
    <strong class="me-auto">Notification</strong>
    <button type="button" class="btn-close btn-close-white" (click)="toastService.remove(toast.id)" aria-label="Close">
    </button>
  </div>

  <div class="toast-body">
    <ng-container *ngIf="isTemplateRef(toast.textOrTpl); else stringContent">
      <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
    </ng-container>
    <ng-template #stringContent>
      {{ toast.textOrTpl }}
    </ng-template>
  </div>
</div>